body { font-family: "Segoe UI", Tahoma, sans-serif; }

.label { color: #555; }

.block {
	margin: 3px;
	padding: 3px;
	display: inline-block;
	width: fit-content;
}
.right {
	float: right;
}

.date {
	display: inline-block;
	margin: 3px 20px;
}
.invalid { color: red; }
.hidden { visibility: hidden; }

button {
	border: solid 1px black;
	text-align: center;
	background-color: white;
	cursor: pointer;
}
button:hover { background-color: #e8e8e8 }

#lang {
    width: 2.6em;
    font-size: 1.1em;
    border-radius: 5px;
    font-family: arial;
    margin: 0;
	text-transform: uppercase;
	padding: 2px 0 1px 0;
}
#publisher { width: 25em; }
#title { width: 45em; }
#author { width: 35em; }
#author { width: 35em; }
#pubdate, #moddate { width: 11em; }

.bottomline {
	margin: 13px 3px;
	padding: 3px;
}
.bottomline button {
	border-radius: 5px;
	font-size: 17px;
	height: 30px;
	vertical-align: bottom;
	color: #555;
	border-color: #555;
}
.bottomline button:hover {
	color: black;
	border-color: black;
}
.bottomline button img { opacity: .333; }
.bottomline button:hover img { opacity: 1; }

#reset {
	padding: 3px;
    width: 30px;
}
#info {
	padding: 2px;
	width: 30px;
	margin-left: 10px;
	z-index: 10;
}
#cancel {
    float: right;
	margin-right: 25px;
}
#rewrite {
	float: right;
	border: solid 2px black;
	color:black;
}

.popupbox {
	position: absolute;
    left: 22px;
    bottom: 60px;
    border: solid 1.5px black;
    border-radius: 15px;
    background-color: white;
    padding: 13px;
	font-size: 1.05em;
	z-index: 5;
}
.popupbox.hidden { display: none; }
.popupbox > div { margin: 5px 0;}

#infobox td { padding: 0 .8em; }
#infobox .title { background-color:#ffa5c2 }
#infobox .descr { background-color:#a5f3ff }
#infobox .paragraph { background-color:#fffb85 }
#infobox .section { background-color:#ffbd85 }
#infobox .mouseover { color:#ff3333; font-weight: bold; }
#infobox .eltype { font-weight: bold; }
#infobox .key {
	background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
    padding: 0 4px;
    margin: 2px 1px;
}
#infobox .tic, .tac {
	content: "";
    position: absolute;
    left: 36px;
    bottom: -18px;
    height: 24px;
    width: 24px;
    background-color: black;
    transform: rotate(45deg);
}
#infobox .tac {
    background-color: white;
    bottom: -15.5px;
}
#infobox.before {
	content: "";
	height: 0px;
	position: absolute;
	left: 36px;
	bottom: -35px;
	border-width: 17px 13px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
}

#resetbox {
	font-size: 1.3em;
	font-weight: bold;
	padding: 1.3em 2.7em;
}
#resetbox .bottomline button {
	color: black;
    margin-top: 1.2em;
    font-weight: bold;
    padding: 0 0.9em;
    font-size: 1.05em;
}
#pagereset { margin-left: 1.2em; }
